body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  touch-action: manipulation;  /* 확대/축소 막기 */
  overscroll-behavior: contain;
  user-select: none;           /* 선택 막기 (필요시) */
}

/* 👇 index.css 또는 App.css 의 제일 아래에 추가 */
input[type="password"]::-ms-reveal {
  display: none;
}